<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fusan.pocketkaraoke">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="fusan.pocketkaraoke.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="fusan.pocketkaraoke.LoginActivity" />
        <activity android:name="fusan.pocketkaraoke.SignupActivity" />
        <activity android:name="fusan.pocketkaraoke.ForgotActivity" />
        <activity android:name="fusan.pocketkaraoke.MainActivity" />
        <activity android:name="fusan.pocketkaraoke.KaraokeActivity" />
        <activity android:name="fusan.pocketkaraoke.ChallengeSentActivity" />
        <activity android:name="fusan.pocketkaraoke.ChallengeReceiveActivity" />
        <activity android:name="fusan.pocketkaraoke.ChallengeHistory" />
        <activity android:name="fusan.pocketkaraoke.EffectsActivity"></activity>
    </application>

</manifest>